.col-9 {
    height: 500px;
}

.col-3 {
    height: 500px;
    position: relative;
}

.big-image {
    object-fit: cover;
}

.small-image {
    height: calc(100% / 5);
    object-fit: cover;
}

button {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}

.first-button {
    top: 37px;
}

.second-button {
    bottom: 0px;
}